/* Override header/banner background color */
:root {
  --grove-primary-500: #466c04; /* USWDS green-60v */
  --grove-primary-700: #193324; /* USWDS mint-80  */
  --grove-base-100: #fcfcfb; /* USWDS gray-warm-1  */
  --grove-base-700: #76766a; /* USWDS gray-warm-50 */
  --grove-white: #fff; /* USWDS white */

  --sl-color-bg-nav: var(--grove-primary-700);
  --sl-color-text-accent: #ffffff;
  --sl-font: "Public Sans";
  --sl-font-system:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --grove-font-heading: "Plus Jakarta Sans", var(--sl-font), var(--sl-font-system);
  --sl-text-h1: 2.5rem;
  --sl-text-h2: 2rem;
  --sl-nav-gap: 0.625rem;
  --sl-nav-pad-x: 1.25rem;

  --sl-nav-height: 4rem;
  --grove-logo-text-size: 1.25rem; /* 20px */
  --grove-logo-tagline-size: 0.6875rem; /* 11px */
  --grove-logo-width: 34px;
  --grove-logo-text-color: var(--grove-white);
  --grove-search-text-color: var(--grove-white);
  --sl-sidebar-pad-x: 0;

  --sl-mobile-toc-height: 3.4375rem;

  @media (min-width: 50rem) {
    --sl-nav-height: 5rem;
    --grove-logo-text-size: 1.8125rem; /* 29px */
    --grove-logo-tagline-size: 0.9375rem; /* 15px */
    --grove-logo-width: 42px;
    --grove-search-text-color: #000;
  }
}

starlight-theme-select {
  display: none !important;
}

/* Style the mobile menu button */
starlight-menu-button button {
  background-color: #2f4a0b;
  color: #fff;
}

/* If you need to be more specific for hover states */
starlight-menu-button button:hover,
starlight-menu-button button:focus {
  background-color: var(--grove-white);
  color: #2f4a0b;
}

.sidebar summary {
  list-style: none;
}

mobile-starlight-toc nav {
  background-color: #f6f7f9;
}

mobile-starlight-toc summary {
  list-style: none;
  padding: 0.875rem;
}

mobile-starlight-toc summary::-webkit-details-marker {
  display: none;
}

mobile-starlight-toc .display-current {
  display: block;
  font-weight: 700;
  padding-top: 0.3125rem;
}

h1 {
  font-size: var(--sl-text-h1);
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="font-heading-"] {
  font-family: var(--grove-font-heading);
  font-optical-sizing: auto;
  font-weight: 600;
}

.site-name,
.site-tagline {
  font-family: var(--grove-font-heading);
  font-optical-sizing: auto;
}

a.site-title {
  color: var(--grove-white);
  text-decoration: none;
}

.social-icons {
  gap: 0;
  height: 56px;
  background: var(--grove-white);
}

.social-icons::after {
  display: none;
}

.social-icons a {
  padding: 20px;
  margin: 0;
}

.grove__iframe {
  height: 300px;
}

.grove__iframe--tall {
  height: 600px;
}

.grove__iframe--mid {
  height: 450px;
}

.grove__iframe--short {
  height: 100px;
}

.main-pane table {
  width: 100%;
  display: table;
  table-layout: auto;
}

body:has(.grove-home-section-container) {
  --sl-content-gap-y: 0;
  --sl-content-width: none;
  background-color: var(--grove-base-100);
  .content-panel {
    padding: 0;
  }
}

.grove-color-block {
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}

.grove-home-section-container{
  border-top: 0.5px solid var(--grove-base-700);
}

.grove-home-section {
  max-width: 87.5rem;
  margin: auto;
}

.grove-card-group {
  > *:last-child {
    margin-bottom: 0;
  }
}
/* need to add into NJWDS */

.text-semibold {
  font-weight: 600;
}

.text-heavy {
  font-weight: 800;
}
